      <% if @myitems.present? %>
        <table id="my_list_table" class="table table-striped table-bordered table_hover">
          <thead>
            <tr class="blue_white_table_header">
              <th></th>
              <th>Item Requested</th>
              <th class="center_text">Quantity Requested</th>
              <th>Request Type</th>
            </tr>
          </thead>

          <tbody>
            <% @myitems.each do |i| %>
              <tr>
                <td class="center_text" width="80">
                  <span class="padding_right_10">
                    <a href="/mylists/<%= @selected_list.id %>/contents/delete/<%= i.id %>"><i class="fa fa-trash-o text_color_black"></i></a>
                  </span>
                  <span><a href="/mylists/<%= @selected_list.id %>/contents/edit/<%= i.id %>"><i class="fa fa-pencil text_color_black"></i></a></span>
                </td>
                <td><a target="_blank" href="<%= i.url %>"><%= i.description %></a></td>
                <td class="center_text" width="100"><%= i.quantity_requested %></td>
                <td><%= i.request_type.request_type_description %></td>
              </tr>
              <tr>
                <td colspan="4"><div class="panel-body"><%= i.comments %></div></td>
              </tr>
              <% end %>
          </tbody>
        </table>
      <% else %>
        <div class="padding_bottom">
          <div class="panel panel-info">
            <div class="panel-heading">
              <h4 class="panel-title">Items on this list</h4>
            </div>
            <div class="panel-body">
              <div class="padding_bottom">
                <p>There are currently no items on this list. Add one below to get started!</p>
              </div>
            </div>
          </div>
        </div>
      <% end %>

<!-- Javascript -->
  <script>
    $(function() {
      jQuery("#add_review").on("click", function() {
        $("#review_form").slideDown();
        $("#title").focus();
      });
    })

    $(document).ready(function(){
        $("#my_list_table tr:odd").addClass("odd");
        $("#my_list_table tr:not(.odd)").hide();
        $("#my_list_table tr:first-child").show();

        $("#my_list_table tr.odd").click(function(){
            $(this).next("tr").toggle();
            $(this).find(".arrow").toggleClass("up");
        });
        //$("#report").jExpand();
    });

  </script>


