  <div class="jumbotron">
    <div class="h2_update"><%= @selected_list.listname %></div>
  </div>

  <div class = "row">
    <div class="col-md-9">
      <%= render 'mylist_contents' %>
      <%= render 'mylist_addNewItem_form' %>
    <div class="col-md-3">
      <%= render 'mylist_current_shared_users' %>
      <%= render 'mylist_share_with_others' %>
    </div>
  </div>


