

<div class="row">
<div class="col-md-1"></div>
<div class="col-md-10">
  <% if @claimed_items_by_user.present? %>
    <div>
      <h4>You have claimed the following items on this list:</h4>
    </div>
    <table class="table table-striped table-bordered table_hover">
    <thead class="blue_white_table_header">
      <tr>
        <th></th>
        <th>Item Requested</th>
        <th>Quantity Claimed</th>
        <th>Date Claimed</th>
      </tr>
    </thead>
    <tbody>
      <% @claimed_items_by_user.each do |i| %>
        <tr>
          <td class="center_text" width="80">
            <span class="padding_right_10">
              <a href="/sharedlists/<%= @selected_list.id %>/purchases/delete/<%= i.item_id %>"><i class="fa fa-trash-o text_color_black"></i></a>
            </span>
          </td>
          <td><a target="_blank" href="<%= i.item.url %>"><%= i.item.description %></a></td>
          <td><%= i.quantity_purchased %></td>
          <td><%= i.date_purchased.strftime("%B %d, %Y") %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <% else %>
    <div>
      <h4>You have not yet claimed anything from this list.</h4>
    </div>
  <% end %>
</div>
<div class="col-md-1"></div>
</div>
