  <div class="jumbotron">
    <div class="h2_update">You are viewing: <%= @selected_list.listname %></div>
  </div>

  <% if @shared_items.present? %>
    <div class="padding_bottom">
      <table class="table table-striped table_hover">
        <thead>
          <tr>
            <% @viewable_cols.each do |col| %>
              <th><%= col %></th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% @shared_items.each do |i| %>
            <tr>
                  <td><a target="_blank" href="<%= i.url %>"><%= i.description %></a></td>
                  <td><%= i.request_type.request_type_description %></td>
                  <td width="100"><%= i.quantity_requested %></td>
                  <td width="100"><%= [0, i.quantity_requested - i.quantity_purchased].max %></td>

              <% if [0, i.quantity_requested - i.quantity_purchased].max > 0 %>
                <form action="/sharedlists/<%= @selected_list.id %>/item/<%= i.id %>">
                  <td width="80"><input class="form-control" name = "q_claimed" type="integer" placeholder="1"></td>
                  <td width="80"><button class="btn btn-sm btn-primary btn-block" type="submit">Claim</button></td>
                </form>
              <% else %>
                  <td><i>Item fulfilled</i></td>
                  <td></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% else %>
    <div class="padding_bottom">
      <p>There are currently no items on this list</p>
    </div>
  <% end %>

  <% if @claimed_items_by_user.present? %>
    <div>
      <h4>You have claimed the following items on this list:</h4>
    </div>
    <table class="table table-striped">
    <thead>
      <tr>
        <% @viewable_cols_purchases.each do |col| %>
          <th><%= col %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @claimed_items_by_user.each do |i| %>
        <tr>
          <td><a target="_blank" href="<%= i.item.url %>"><%= i.item.description %></a></td>
          <td><%= i.quantity_purchased %></td>
          <td><%= i.date_purchased.strftime("%B %d, %Y") %></td>
          <td>placeholder</td>
        </tr>
        <% end %>
    </tbody>
  </table>

  <% else %>
    <div>
      <h4>You have not yet claimed anything from this list.</h4>
    </div>
  <% end %>











