<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <%= image_tag "gift_boxes.jpg", :width => 600, :class => "img-responsive img-rounded center_image" %>
        </div>
        <div class="col-lg-3">
            <% if @current_user.nil? %>
                <%= render 'login_form' %>
            <% else %>
                <div class="panel panel-info pagination-centered">
                  <div class="panel-heading">
                    <h4 class="panel-title">Recent Activity</h4>
                  </div>
                  <div class="panel-body">
                    <% if @my_recent_lists.present? %>
                        <h4>Your lists...</h4>
                        <div class="padding_bottom">
                          <table>
                            <thead></thead>
                            <tbody>
                              <% @my_recent_lists.each do |list| %>
                              <tr>
                              <td>
                                <a href="/mylists/<%= list.id %>/contents"><%= list.listname %></a>
                              </td>
                              </tr>
                              <% end %>
                            </tbody>
                          </table>
                        </div>
                    <% end %>
                    <% if @my_recent_shared_lists.present? %>
                    <h4>Shared with you...</h4>
                        <div class="padding_bottom">
                          <table>
                            <thead></thead>
                            <tbody>
                              <% @my_recent_shared_lists.each do |list| %>
                              <tr>
                              <td>
                                <a href="/sharedlists/<%= list.id %>/contents"><%= list.listname %></a>
                              </td>
                              </tr>
                              <% end %>
                            </tbody>
                          </table>
                        </div>
                    <% end %>
                    <% if @my_recent_lists.count == 0 and @my_recent_shared_lists.count == 0 %>
                        <p>Looks like you haven't taken the plunge yet. Get started today!</p>
                    <% end %>
                    <a class="btn btn-md btn-primary" href="/mylists">List home</a>
                  </div>
                </div>
            <% end %>
        </div>
        <div class="col-lg-1"></div>
    </div>

    <hr>

    <div class="row">
        <div class="col-lg-12">
            <div class="well text-center text_size_20">
                <strong>Gift giving has never been this easy</strong>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4 center_text">
            <h2>Create & Share Lists</h2>
            <p>Create a gift list and share it with your friends and family so they know exactly what you want. Say goodbye to the days of getting that ugly brown sweater...</p>
        </div>
        <div class="col-lg-4 center_text">
            <h2>Avoid Duplicates</h2>
            <p>Your connections can claim items off your list so it's clear who is buying you what. We're eliminating that awkward moment when your mom and sister realize they bought you the same thing.</p>
        </div>
        <div class="col-lg-4 center_text">
            <h2>Keep the Surprise</h2>
            <p>Only other buyers will be able to see what has been purchased from the gift list. The recipient will be completely surprised on the big day.</p>
        </div>
    </div>
</div>

