
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Gift Sharing!</title>

  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootswatch/3.0.2/cerulean/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.2/css/font-awesome.min.css">
  <link rel="stylesheet" href="http://getbootstrap.com/examples/signin/signin.css">
  <!-- <link rel="stylesheet" href="http://getbootstrap.com/examples/sticky-footer/sticky-footer.css"> -->

  <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.9.1.js"></script>
  <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script>
  $(function() {
    $( "#accordion" ).accordion({
      collapsible: true
    });
  });
  </script>


  <style>
    /* Only necessary if you are using navbar-fixed-top */

    body {
      padding-top: 100px;
      margin-bottom: 60px;
      /*background-color:white;*/
    }

    html {
      position: relative;
      min-height: 100%;
    }

    #footer {
      position: absolute;
      bottom: 0;
      width: 100%;
       Set the fixed height of the footer here
      height: 60px;
      background-color: #f5f5f5;
    }


 /*   .container {
      width: auto;
      max-width: 680px;
      padding: 0 15px;
    }*/
    .container .text-muted {
      margin: 20px 0;
    }


    /*Andy wrote this...*/
    .jumbotron  {
      background-color: #778899;
    }

    .h2_update {
      color: white;
    }

    .padding_bottom {
      padding-bottom: 20px;
    }

    .padding_bottom_10 {
     padding-bottom: 10px;
    }

    .margin_bottom_50 {
      margin-bottom: 50px;
    }

    .padding_right_20 {
      padding-right: 20px;
    }

    .padding_right_10 {
      padding-right: 10px;
    }

    .center_text {
      text-align: center;
    }

    .table_hover tbody tr:hover td, .table tbody tr:hover th {
      background-color: #F6CECE;
    }

    .blue_white_table_header {
      background-color: #033c73;
      /*Next line is for primary*/
      /*background-color: #2fa4e7;*/
      color: white;
    }

    .vertical_align_text {
      vertical-align: middle;
    }

    .text_color_black {
      color: black;
    }

    .text_color_white {
      color: white;
    }

    .text_size_20 {
      font-size: 20px;
    }

    .center_image {
        display: block;
        margin-left: auto;
        margin-right: auto
    }


  </style>

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Gift Sharing!", "/", :class => "navbar-brand" %>
    </div>

    <% user = User.find_by(:id => session[:user_id]) %>
    <% if user.present? %>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><%= link_to "List Home", "/mylists"%></li>
          <li><%= link_to "My Connections", "/connections"%></li>
          <li><%= link_to "My Purchases", "/purchases"%></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">

          <li><a href="/myprofile">My profile</a></li>
          <li><a href="/logout">Sign Out</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    <% end %>

  </nav>

  <div class="container">
    <% if notice.present? %>
      <div class="alert alert-dismissable alert-info">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <%= notice %>
      </div>
    <% end %>

    <%= yield %>

  </div>

  <!-- Site footer -->
  <div id="footer">
    <div class="container">
      <p class="text-muted">&copy; Andy Crewson 2014</p>
    </div>
  </div>


</body>
</html>

